
.root {
    -bg-gradient: linear-gradient(to right, #031b1c, #142b3d);
    -bg-button: #2f3333;

    -hover: #3f5d5d;
}

.background-pane {
    -fx-background-color: -bg-gradient;
}

.button{
    -fx-background-color: -bg-button;
    -fx-effect: dropshadow( three-pass-box , rgba(155, 150, 150, 0.6), 5, 0.0 , 0 , 1 );
}

.button:hover{
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}